<div ng-controller="StoreCtrl as Ctrl">
	<h3>Cutting Boards</h3>
	<div class="flex-column">
		<div>
			<p>Personalized and engraved cutting boards.  The perfect custom made gift for a chef, griller, or host. Personalized cutting boards make a wonderful family keepsake. Great for keeping your counter-tops scratch free or for use as a serving tray.</p>
			<div class="hrule spacerMed"></div>
			<ul class="small-block-grid-1 medium-block-grid-3">
				<li>
		            <img-with-caption imgsrc="views/store/img/chefgarber.jpg" cap="" title="Stock"></img-with-caption>
		        </li>
		        <li>
		            <img-with-caption imgsrc="views/store/img/waltons.jpg" cap="" title="Cutting Board"></img-with-caption>
		        </li>
		      
		    </ul>
			
		</div>
	</div>
</div>