<div ng-controller="StoreCtrl as Ctrl">
	<h3>Personalize Your YETI!</h3>
	<div class="flex-column">
		<div>
			<h5>Description</h5>
			<div class="hrule"></div>
			<p>From Corporate gifts to personal presents, YETI's are ideal for everyone even those people that are so hard to buy for. A distinct gift they will actually use and appreciate.</p>
		</div>

		<div class="marginTop-small">
			<ul class="small-block-grid-1">
				<li>
		            <img-with-caption imgsrc="views/store/img/yeti.jpg" cap="Personalized Yeti tumbler." title="Fig 1"></img-with-caption>
		        </li>
		    </ul>
		</div>
	</div>
</div>