<div>
	<h5>CNC Router</h5>
	<p>A CNC router is a computer controlled cutting machine related to the hand held router used for cutting various hard materials, such as wood, composites, aluminium, steel, plastics, and foams. CNC stands for computer numerical control. CNC routers can perform the tasks of many carpentry shop machines such as the panel saw, the spindle moulder, and the boring machine.</p>
	<div class="spacerH">
		
	</div>
	<div class="flexcentered">
		<img src="img/cnc.jpg" alt="">
	</div>
</div>