<div class="paragraphs">
	<h5>CO2 Laser Engraving and Cutting</h5>
	<p>We take the images you typically print to paper, but instead we fire a CO2 laser beam that engraves and cuts your design on a wide variety of materials.</p>
	<p>Engraving Materials: Wood, acrylic, plastic, glass, leather, corian, fabric, coated metals, anodized aluminum, ceramics, mylar, pressboard and more.</p>
	<p>Cutting Materials: Wood, acrylic, plastic, delrin, cloth, leather, melamine, paper, rubber, veneer, cork and more.</p>
	<div class="spacerH"></div>
	<div class="flexcentered">
		<img src="img/wood-engravings.png" alt="">
	</div>
	
</div>