<div class="flexcentered">
	<div class="slick-container">
		<slick dots=true infinite=true speed=500 autoplay=true fade=true mobile-first=true arrows=true pause-on-hover=true>
			<div><img src="img/slick/table-txu.jpg" alt=""></div>
			<div><img src="img/slick/fire-in-hole.jpg" alt=""></div>
			<div><img src="img/slick/fire-in-hole-2.jpg" alt=""></div>
			<div><img src="img/slick/table-arnold.jpg" alt=""></div>
			<div><img src="img/slick/table-haa.jpg" alt=""></div>
			<div><img src="img/slick/table-martin.jpg" alt=""></div>
			<div><img src="img/slick/table-wine01.jpg" alt=""></div>
			<div><img src="img/slick/du.jpg" alt=""></div>
			<div><img src="img/slick/award-wall.jpg" alt=""></div>
	 	</slick>
 	</div>
</div>


