<div ng-controller="ServicesCtrl as Ctrl">
	<h3>Laser Engraving and Cutting</h3>
	<div class="flex-column">
		<div>
			<h5>Cutting Materials: Wood, acrylic, plastic, delrin, cloth, leather, melamine, paper, rubber, veneer, cork and more.</h5>
			<div class="hrule"></div>
			<h6 style="margin-top:10px;">Inhibeo</h6>
			<p>Laser cutting is a process in which a high-powered laser is focused and controlled by a computer to cut through various materials with higher precision and faster speeds, leaving a cleaner edge than many other cutting methods.</p>
		</div>
		<div class="spacerMed"></div>
		<div class="hrule"></div>
		<h6 style="margin-top:10px;">---</h6>
		<ul>
			<li>-</li>
			<li>-</li>
			<li>-</li>
			<li>-</li>
			<li>-</li>
		</ul>
		<div class="spacerMed"></div>
		<div>
			<h5>--</h5>
		</div>	
	</div>
</div>