<div ng-controller="ServicesCtrl as Ctrl">
	<h3>Laser Engraving and Cutting</h3>
	<div class="flex-column">
		<div>
			<div class="hrule"></div>
			<h5>Laser Engraving</h5>
			<p>Engraving Materials: Wood, acrylic, plastic, glass, leather, corian, fabric, coated metals, anodized aluminum, ceramics, mylar, pressboard and more.</p>
			<div class="spacerSmall"></div>
			<h6>Applications:</h6>
			<ul>
				<li>Promotional Products</li>
				<li>Fundraising</li>
				<li>Awards/Plaques</li>
				<li>Decals</li>
				<li>Barcodes</li>
				<li>Gifts</li>
				<li>Labels</li>
			</ul>
			<ul class="small-block-grid-1 medium-block-grid-3">
				<li>
		            <img-with-caption imgsrc="views/services/img/marble.jpg" cap="Engraving on marble." title="Fig 1"></img-with-caption>
		        </li>
		        <li>
		            <img-with-caption imgsrc="views/services/img/yeti250px.jpg" cap="Personalize your YETI!" title="Fig 2"></img-with-caption>
		        </li>
		    </ul>
		</div>
		<div class="hrule"></div>
		<div>
			<h5>Cutting</h5>
			<p>Laser cutting is a process in which a high-powered laser is focused and controlled by a computer to cut through various materials with higher precision and faster speeds, leaving a cleaner edge than many other cutting methods.</p>
			<p>Cutting Materials: Wood, acrylic, plastic, delrin, cloth, leather, melamine, paper, rubber, veneer, cork and more.</p>
			<div class="spacerSmall"></div>
			<h6>Applications:</h6>
			<ul>
				<li>Vinyl lettering</li>
			</ul>
		</div>
			
	</div>
</div>