<div ng-controller="ServicesCtrl as Ctrl">
	<h3>Photo Production Printing</h3>
	<div class="flex-column">
		<div>
			<h5>Description</h5>
			<div class="hrule"></div>
			<ul class="small-block-grid-1"  style="margin-top:10px;">
				<li>
		            <img-with-caption imgsrc="views/services/img/Z6800_MAIN_450x254_tcm245-1840176.jpg" cap="Exceptional color and black-and-white prints on many substrates." title="Z6800"></img-with-caption>
		        </li>
		    </ul>
			<h6 style="margin-top:10px;">HP Designjet Z6800 60" Photo Production Printer</h6>
			<ul>
				<li>Resolution: 2400 x 1200 dpi</li>
				<li>Max Print Speed: 1,500 ft²/hr</li>
				<li>Media Size: 11-60" Width Rolls</li>
			</ul>
			<p>High-quality banners, posters, presention boards, photo prints etc.</p>
		</div>
	</div>
</div>






