<div ng-controller="ServicesCtrl as Ctrl">
	<h3>Custom Woodworking</h3>
	<div class="flex-column">
		<div>
			<p>We can make custom wood products to your exact specifications, source custom mill work and molding, build doors, drawers, and project parts. Let us know what we can do for you at our custom woodworking shop.</p>
			<h5>Equipment</h5>
			<div class="hrule spacerMed"></div>

			<ul class="small-block-grid-1 medium-block-grid-3">
				<li>
		            <img-with-caption imgsrc="views/services/img/cnc.jpg" cap="5' x 10'" title="CNC Router"></img-with-caption>
		        </li>
		        <li>
		            <img-with-caption imgsrc="views/services/img/bandsaw.jpg" cap="" title="Band Saw"></img-with-caption>
		        </li>
		        <li>
		            <img-with-caption imgsrc="views/services/img/sander.jpg" cap="" title="Sander"></img-with-caption>
		        </li>
		    </ul>
			
		 
		</div>
	</div>
</div>